[mysqld]
server_id=1
report_host=server01
report_port=3306
character_set_server=utf8mb4
collation_server=utf8mb4_unicode_ci
gtid_mode=on
enforce_gtid_consistency=on
master_info_repository=TABLE
innodb_log_file_size=256M
innodb_buffer_pool_size=256M
innodb_flush_log_at_trx_commit=1
sync_binlog=1
relay_log=relay-bin
